body {
    font-size: 14px;
    background-color: #f5f5f5;
    width: 1920px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
.logo {
    width: 40px;
    height: 40px;
 }
  
.search-bar {
    height: 40px;
  }
  
.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }

  .titleBar {
    background-color: #F5F5F5;
    height: 204px;
    padding: 10px;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    box-sizing: border-box;
}

.titleBar span {
    display: block; /* 블록 요소로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.content {
    background-color: white;
    text-align: center; /* 자식 요소의 텍스트 중앙 정렬 */
}
.mRank {
    width: 709px;
    display: inline-block;
}
.mContent {
    width: 1837px;
    /*background-color: red;*/
    background-position: center center;
    position: relative;
    height: 1088px;
    display: inline-block;
}
.mBox {
    width: 100%;
    position: relative; /* absolute 대신 relative로 변경 */
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 중앙 정렬 */
}

.club {
    padding: 24px;
    width: 1709px; /* 원하는 너비 설정 */
    min-width: 240px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: flex; /* 플렉스 박스 사용 */
    justify-content: space-between; /* 두 요소 사이에 공간을 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 30px;
}


.subClub_1{
    height: 110px;
    line-height: 110px;
    display: flex; align-items: center;
}

.subClub_1 span{
    font-size: 30px;
    font-weight: 900;
}

footer {
    background-color: #ffffff; /* 푸터 배경색을 하얀색으로 변경 */
    padding: 20px 0;
    text-align: left; /* 왼쪽 정렬 */
    padding-left: 30px; /* 왼쪽 여백 조정 */
  }
  
  .footer-links {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    gap: 50px; /* 열 간격 */
  }
  
  .footer-column {
    text-align: left;
  }
  
  .footer-column h3 {
    margin-bottom: 15px; /* 제목과 단락 사이 공백 조정 */
    color: #000000; /* 제목 색상 검정색 */
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px; /* 단락 사이 공백 조정 */
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #000000; /* 링크 색상 검정색 */
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 */
  }


  .black-button {
    background-color: black; /* 배경색을 검정색으로 설정 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
    border: none; /* 기본 테두리 제거 (선택 사항) */
    padding: 10px 20px; /* 여백 추가 (선택 사항) */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}