/* 기본 스타일 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: 'Pretendard-Regular', sans-serif;
}


/* 네비게이션 바 */
header {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #E8E8E8;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.nav-right {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.search-bar {
  display: flex; 
  align-items: center;
  background: white;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-bar img {
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-bar input {
  padding: 5px;
  width: 650px;
  height: 50px;
  font-size: 24px;
  border: #fff;
}

.nav-links {
  display: flex; 
  align-items: center;
  gap: 35px; 
  font-size: 25px;
}

.nav-links a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

/* 로그인, 회원가입 박스 */
.auth-box {
  display: flex;
  gap: 12px; 
}

.sign-in-box {
  padding: 8px;
  background: #E3E3E3; 
  border-radius: 15px; 
  border: 1px solid #767676; 
  width: 100px;
  text-align: center;
  margin-right: 15px;
}

.sign-in-text {
  color: #1E1E1E; 
  font-size: 24px;
}

.register-box {
  padding: 8px; 
  background: #2C2C2C; 
  border-radius: 15px; 
  border: 1px solid #2C2C2C; 
  width: 100px;
  text-align: center;
}

.register-text {
  color: #F5F5F5; 
  font-size: 24px; 
  width: 40px;
}



/* Main Layout */
.main-container {
  display: flex;
  height: 1400px;
  background-color: white;
}

/* 회원 프로필 부분 */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  gap: 20px;
  width: 60%;
}

.profile-image {
  width: 550px;
  height: 550px;
  margin: 30px;
  border: 1px solid #ccc;
  display: flex;
  overflow: hidden;
}

.member-info {
  padding: 50px;
}

.member-info h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 30px;
}

.profile-intro {
  width: 1000px;
  height: 450px;
  border: 1px solid #777777;
  border-radius: 40px;
  padding: 30px;
  font-size: 40px;
  resize: none;
}


/* 참여중인 모임 */
.joined-club {
  flex: 2;
  display: flex;
  flex-direction: column; 
  width: 60%;
  justify-content: center;
}

#club-title {
  font-size: 65px;
  color: #505050;
  margin-bottom: 40px;
}

.club-section {
  width: 80%;
  height: 900px;
  overflow: auto;
  scrollbar-width: none;
}

.club-item {
  display: flex;
  height: 190px;
  margin-bottom: 60px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 30px;
  align-items: center;
}

.club-thumbnail {
  width: 150px;
  height: 150px;
  background-color: #E8E8E8;
  margin-right: 40px;
}

.club-info {
  display: flex;
  font-size: 14px;
  position: relative;
  flex-direction: column; 
}

.joined-club p {
  font-size: 28px;
  color: #777;
  margin: 3px;
}

.joined-club h3 {
  font-size: 40px;
  margin: 10px;
}

.chat-icons {
  margin-left: auto;
  margin-right: 40px;
  width: 60px;
}



/* 푸터 */
footer {
  display: flex;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #E8E8E8;
  height: 250px;
  align-items: center;
  
}

.footer-container {
  display: flex;
  margin-left: 50px;
  justify-content: center;
}

.social-icons img {
  margin: 10px 10px;
  width: 40px;
  height: 40px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  align-items: start;
}

.footer-links a {
  margin-bottom: 15px;
  text-decoration: none;
  color: #333;
  font-size: 22px;
}
