/* 기본 스타일 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: 'Pretendard-Regular', sans-serif;
}


/* 네비게이션 바 */
header {
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #E8E8E8;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.nav-right {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.search-bar {
  display: flex; 
  align-items: center;
  background: white;
  border-radius: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-bar img {
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-bar input {
  padding: 5px;
  width: 650px;
  height: 50px;
  font-size: 24px;
  border: #fff;
}

.nav-links {
  display: flex; 
  align-items: center; 
  gap: 35px; 
  font-size: 25px;
}

.nav-links a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

/* 로그인, 회원가입 박스 */
.auth-box {
  display: flex; 
  gap: 12px; 
}

.sign-in-box {
  padding: 8px; 
  background: #E3E3E3;
  border-radius: 15px; 
  border: 1px solid #767676; 
  width: 100px;
  text-align: center;
  margin-right: 15px;
}

.sign-in-text {
  color: #1E1E1E; 
  font-size: 24px; 
}

.register-box {
  padding: 8px; 
  background: #2C2C2C; 
  border-radius: 15px; 
  border: 1px solid #2C2C2C;
  width: 100px;
  text-align: center;
}

.register-text {
  color: #F5F5F5;
  font-size: 24px;
  width: 40px;
}



/* 타이틀 섹션 */
.title-section {
  height: 250px;
  background-color: #CDCDCD;
  text-align: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.title-section h1 {
  font-size: 95px;
  margin: 0;
}

.title-section p {
  font-size: 30px;
  margin: 5px 0 0 0;
}



/* 메인 컨텐츠 섹션 공통 부분 */
.content-container {
  display: flex;
  justify-content: space-around;
  height: 1500px;
}

.club, .hashtag, .news { 
  background-color: #fff;
  padding: 40px;
  padding-left: 80px;
  width: 33%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.club-section, .hashtag-section, .news-section {   
  height: 1200px;
  overflow: auto;
  scrollbar-width: none;
}

.club-item, .news-item {
  display: flex;
  height: 180px;
  margin-bottom: 60px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 30px;
  align-items: center;
  background-color: #fff;
}

.club-thumbnail, .news-thumbnail { 
  width: 150px;
  height: 150px;
  background-color: #E8E8E8;
  margin-right: 40px;
}

.club-info, .news-info {
  display: flex;
  font-size: 14px;
  position: relative;
  flex-direction: column;
}

.section-title {
  margin-bottom: 50px;
  margin-left: 40px;
}

h2 {
  font-size: 50px;
  margin-bottom: 5px;
}

p {
  font-size: 28px;
  color: #777;
  margin: 3px;
}

h3 {
  font-size: 30px;
  margin: 10px;
}

.join-button, .chat-icons {
  margin-left: auto;
  margin-right: 40px;
}

/* club 부분 */
.join-button button {
  background-color: #2C2C2C;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  height: 50px;
  font-size: 22px;
}

.join-button button:hover {
  background-color: #2C2C2C;
}

/* hashtag 부분 */
.hashtag {
  background-color: #F5F5F5;
}

/* news 부분 */
.news-info img {
  height: 30px;
  margin-right: 10px;
}



/* 푸터 */
footer {
  display: flex;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #E8E8E8;
  height: 250px;
  align-items: center;
  
}

.footer-container {
  display: flex;
  margin-left: 50px;
  justify-content: center;
}

.social-icons img {
  margin: 10px 10px;
  width: 40px;
  height: 40px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  align-items: start;
}

.footer-links a {
  margin-bottom: 15px;
  text-decoration: none;
  color: #333;
  font-size: 22px;
}
